@import "../Variable/fontfamily";
@import "../basic/common";
@import "../mixinit/fontStyle";
#footer{
    margin-top: 80px;
    padding-top: 115px;
    padding-bottom: 100px;
    background-color: #244D4D;
    
    .footer-head{
        padding-bottom: 80px;
        margin-bottom: 80px;
        border-bottom: 1px solid #ffffff34;
        h5{
             @include fontstyle($popins, 45px, 400, #ffffff);
             line-height: 60px;
             text-transform: capitalize;
        }
        button{
            @include fontstyle($popins,19px,400,#ffffff);
            background-color: #3A5F5F;
            line-height: 50px;
            border: none;
            width: 200px;
            border-radius: 30px;
            -webkit-border-radius: 30px;
            -moz-border-radius: 30px;
            -ms-border-radius: 30px;
            -o-border-radius: 30px;
              transition: all linear .3s;
                -webkit-transition: all linear .3s;
                -moz-transition: all linear .3s;
                -ms-transition: all linear .3s;
                -o-transition: all linear .3s;
            margin-top: 40px;
            margin-right: 20px; 
            &:hover{
                background-color: #ffffff;
                color: #244D4D;
            }
       }
    }
    .f-f{
        p{
            margin-top: 15px;
             @include fontstyle($monsfm, 15px, 400, #ffffff);
        }
        ul{
            margin-top: 25px;
            li{
                a{
                    color: #ffffff;
                    margin-right: 20px;
                }
                &:hover a{
                  color: #3A5F5F;
                }
            }
        }
    }
    .f-r{
        h5{
            @include fontstyle($popins, 20px, 500, #ffffff);
            margin-bottom: 20px;
        }
        ul li{
            @include fontstyle($monsfm, 15px, 400, #ffffff);
            margin-bottom: 10px;
        }
    }
}